$color-hero: linear-gradient(#4f5d75, #282f3b);
$color-primary: #4f5d75;
$color-primary-lighter: #7099a5;
$color-section-about: #e2e2e2;
$font-color-secondary: #c2c2c2;
$accent-primary: #e9795d;
$accent-secondary: #2a9d8f;

$main-font: "Roboto Slab", serif;
$secondary-font: "Poppins", sans-serif;

$img-shadow: 5px 7px 13px;

html {
  scroll-behavior: smooth;
}

body {
  background-color: $color-section-about;
  position: relative;
}

.jumbotron {
  transform: skewY(-15deg);
  transform-origin: top left;
}

.row-hero {
  transform: skewY(+15deg);
  transform-origin: top left;
  height: 100vh;
}

.phone {
  position: absolute;
  top: 33rem;
  transform: skewY(+15deg);
  transform-origin: top left;
}

.phone {
  img {
    height: auto;
    width: 100%;
    box-shadow: $img-shadow;
    border-radius: 2.3rem;
  }
}

#home {
  font-family: $main-font;
  background-image: $color-hero;
}

.header-text {
  margin-bottom: 7rem;
}
.header-text {
  h1 {
    color: #ffffff;
    font-size: 7rem;
    font-weight: bold;
    letter-spacing: 0.06rem;
  }
}

.header-text {
  h2 {
    color: $font-color-secondary;
  }
  h3 {
    color: $font-color-secondary;
  }
}

.header-btn {
  border-radius: 3rem;
}

#about {
  height: 35vh;
  font-family: $main-font;
  color: $color-primary;
  transform: translateY(-5rem);
  margin-left: 4rem;
}
#about {
  h2 {
    font-size: 2.5rem;
  }
}
.about-statement {
  font-family: $secondary-font;
  color: black;
  line-height: 2.5rem;
}

#social {
  background-color: $color-section-about;
  height: 10rem;
  font-family: $main-font;
  color: $color-primary;
}

#social {
  .row {
    width: 50vh;
  }
}

#social {
  a {
    color: black;
  }

  i {
    font-size: 2rem;
  }
}

#features {
  background-image: $color-hero;
  height: 100vh;
  transform: skewY(7deg);
  transform-origin: top left;
  position: relative;
}

#features {
  .features-container {
    width: 60vh;
    color: #e8e8e8c2;
    position: absolute;
    top: 8rem;
  }

  .phone-demo {
    position: absolute;
    right: 0;
    text-align: right;
    img {
      height: auto;
      width: 50%;
      margin-top: 2.5rem;
      box-shadow: $img-shadow;
      border-radius: 2rem;
    }
  }
  .phone-demo-music {
    position: absolute;
    top: 25rem;
    img {
      height: auto;
      width: 60%;
      margin-top: 2.5rem;
      border-radius: 1.5rem;
    }
  }

  .container {
    transform: skewY(-7deg);
    transform-origin: top left;
  }
  .row {
    margin-top: 1rem;
  }

  i {
    font-size: 1.3rem;
    margin-right: 1rem;
  }
  p {
    font-family: $main-font;
    font-size: 1rem;
  }

  .media {
    margin-bottom: 1rem;
  }
}

#fill {
  height: 25vh;
  background-color: #282f3b;
}

.nav-item {
  text-align: right;
}

#navbar {
  transition: 0.4s;
  font-family: $main-font;
}

.navbar-dark {
  .navbar-brand {
    color: $color-primary-lighter;
  }
}

.bg-dark {
  background-color: rgba(52, 58, 64, 0.9) !important;
}

.btn-success {
  background-color: $accent-secondary;
}

.btn-success:hover {
  background-color: #1c685f;
}

.card {
  margin-top: 3rem;
  border: none;
}

#contact {
  height: 100vh;
  background-color: coral;
}

.test {
  position: fixed;
  bottom: 0;
  right: 0;
}

//small/xs screens
@media (max-width: 767px) {
  .phone {
    img {
      height: auto;
      width: 100%;
      box-shadow: 5px 7px 13px;
      border-radius: 2rem;
    }
  }

  .phone {
    position: static;
  }
  header {
    height: 95vh;
  }

  #features {
    .phone-demo {
      position: static;
      text-align: center;
    }
  }

  #social {
    position: relative;
    .row {
      position: absolute;
    }
  }
}
