html {
  scroll-behavior: smooth;
}

body {
  background-color: #e2e2e2;
}

.jumbotron {
  transform: skewY(-6deg);
  transform-origin: top left;
}

.header-text {
  transform: skewY(+6deg);
  transform-origin: top left;
}

.row-hero {
  height: 75vh;
}

#home {
  background-color: #4f5d75;
}

.nav-item {
  text-align: right;
}

#navbar {
  transition: 0.4s;
}

.card {
  margin-top: 3rem;
  border: none;
}

#contact {
  height: 100vh;
  background-color: coral;
}

.test {
  position: fixed;
  bottom: 0;
  right: 0;
}
