html {
  scroll-behavior: smooth;
}

.jumbotron {
  background-color: grey;
  height: 100vh;
}

.row-hero {
  height: 100vh;
}

.nav-item {
  text-align: right;
}

#navbar {
  transition: 0.4s;
}

.card {
  margin-top: 3rem;
  border: none;
}

#contact {
  height: 100vh;
  background-color: coral;
}

.test {
  position: fixed;
  bottom: 0;
  right: 0;
}
