$color-hero: linear-gradient(#4f5d75, #282f3b);
$color-section-about: #e2e2e2;
$font-color-secondary: #c2c2c2;
$accent-primary: #e9795d;
$accent-secondary: #2a9d8f;

$main-font: "Roboto Slab", serif;
$secondary-font: "Poppins", sans-serif;

$img-shadow: 12px, 16px, 13px, grey;

html {
  scroll-behavior: smooth;
}

body {
  background-color: $color-section-about;
}

.jumbotron {
  transform: skewY(-15deg);
  transform-origin: top left;
}

.row-hero {
  height: 100vh;
}

.row {
  transform: skewY(+15deg);
  transform-origin: top left;
}

.phone {
  position: absolute;
  top: 33rem;
}

.phone {
  img {
    height: auto;
    width: 100%;
    box-shadow: 5px 7px 13px;
    border-radius: 2.3rem;
  }
}

#home {
  font-family: $main-font;
  background-image: $color-hero;
}

.header-text {
  margin-bottom: 7rem;
}
.header-text {
  h1 {
    color: #ffffff;
    font-size: 7rem;
    font-weight: bold;
    letter-spacing: 0.06rem;
  }
}

.header-text {
  h2 {
    color: $font-color-secondary;
  }
  h3 {
    color: $font-color-secondary;
  }
}

.header-btn {
  border-radius: 3rem;
}

#about {
  height: 100vh;
}

.nav-item {
  text-align: right;
}

#navbar {
  transition: 0.4s;
  font-family: $main-font;
}

.btn-success {
  background-color: $accent-secondary;
}

.btn-success:hover {
  background-color: #1c685f;
}

.card {
  margin-top: 3rem;
  border: none;
}

#contact {
  height: 100vh;
  background-color: coral;
}

.test {
  position: fixed;
  bottom: 0;
  right: 0;
}
